<div class="topbar" th:fragment="reader-header">
    <div class="topbar-greeting" th:if="${reader != null}">
        <div class="topbar-hi">Xin chào, <strong th:text="${reader.name}"></strong> 👋</div>
        <div class="topbar-sub">Chào mừng bạn đến với thư viện</div>
    </div>
    <div class="topbar-search">
        <i class="ti ti-search"></i>
        <input type="text" id="globalSearch" placeholder="Tìm kiếm sách, tác giả, thể loại..."
               onkeydown="if(event.key==='Enter')doSearch(this.value)"/>
        <button class="topbar-search-btn" onclick="doSearch(document.getElementById('globalSearch').value)">
            <i class="ti ti-search"></i>
        </button>
    </div>
    <div class="topbar-right">
        <button class="notif-btn" onclick="toggleNotifPanel()"><i class="ti ti-bell"></i><span class="notif-dot"
                                                                                               id="notifDot">2</span>
        </button>
        <a class="btn-confirm" id="" sec:authorize="isAuthenticated()" th:href="@{/logout}">
            Đăng xuất
        </a>
        <a class="btn-confirm" sec:authorize="!isAuthenticated()" th:href="@{/login}">
            Đăng Nhập
        </a>

    </div>
</div>